@font-face {
    font-family: 'IRSans';
    src: url('/fonts/IRANSansWeb.woff') format('woff'), url('/fonts/IRANSansWeb.woff2') format('woff2');
}
@font-face {
    font-family: 'IRSansB';
    src: url('/fonts/IRANSans-Bold.woffb.woff') format('woff'), url('/fonts/IRANSans-Bold.woff2') format('woff2');
}
body {
    font-family: IRSans;
}
h1, h2, h3, h4, h5, h6 {
    font-family: IRSansB;
}