@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir.ttf') format('truetype'),
         url('/fonts/Vazir.woff') format('woff'),
         url('/fonts/Vazir.woff2') format('woff2');
}

body {
    font-family: Vazir;
}