@page
@model ReazorLearning.Pages.Admin.FoodType.CreateModel
@{
}
<div class="container p-3">
    <div class="row alert alert-success">
        <h2 class="text-info">Create Category</h2>
    </div>
    <div class="row p-4 border border-2">
        <div class="col-6">
            <form method="post">
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Category Name :</label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="FoodType.Name" class="form-control">
                        <span asp-validation-for="FoodType.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-success">Create</button>
                        <a asp-page="index" class="btn btn-secondary">Back To List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    <partial name="Shared/_ValidationScriptsPartial" />
}
