@page
@model ReazorLearning.Pages.Admin.Category.CreateModel
@{
}
<div class="container p-3">
    <div class="row p-4 border border-2">
        <div class="col-6">
            <form method="post">
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Category Name :</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Category.Name" class="form-control">
                        <span asp-validation-for="Category.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">DisplayOrder :</label>
                    <div class="col-sm-9">
                        <input asp-for="Category.DisplayOrder" type="number" class="form-control">
                        <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="col-4">
                        <button type="submit" class="btn btn-success">Create</button>
                        <a asp-page="index" class="btn btn-secondary">Back To List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"/>
}
